.header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 10%;
}

.about {
  display: flex;
  margin-top: 50px;
  margin-left: -620px;
}

.header ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.header li {
  display: flex;
  width: 100px;
}

.header li a {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.header a {
  margin-left: 400px;
  text-decoration: none;
  font-size: 11px;
  color: #999;
  letter-spacing: 2px;
}

.emailBold {
  color: black;
}
.header a:hover {
  text-decoration: underline;
}
.header a:active,
.header a:active {
  color: black;
  text-decoration: underline;
}
.header a:focus {
  text-decoration: underline;
  font-style: italic;
}
.header a:visited {
  text-decoration: underline;
}
