.header {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  font-size: 11px;
  color: #999;
  letter-spacing: 2px;
}
.about {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.about a {
  margin-right: 10px;
}

.emailBold {
  color: black;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }

  .about {
    display: flex;
    font-size: 12px;
  }
}

.active {
  text-decoration: underline;
  font-style: italic;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    padding-left: 40px;
  }
}
