.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 550px;
}

.nav {
  display: flex;
  font-size: 11px;
  color: #999;
  letter-spacing: 2px;
}
.about {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.emailBold {
  color: black;
}

@media (max-width: 768px) {
  .nav {
    width: 60%;
  }
  .header nav {
    width: 60%;
  }
  .about {
    width: 60%;
  }
}

.active {
  text-decoration: underline;
  font-style: italic;
}
