.main {
  display: flex;
  width: 100%;
  margin-left: 300px;
}

.image {
  display: flex;
  margin-right: 40px;
  margin-top: 70px;
}

.intro {
  display: flex;
  max-width: 100%;
  font-size: 24px;
  margin-top: 40px;
  font-weight: 300;
}

.vesna {
  font-style: italic;
  font-size: 13px;
  margin-left: 500px;
  margin-top: 5px;
}

.item {
  border-radius: 50%;
  border: solid 0.5px black;
  padding: 2px;
}

.em {
  font-style: italic;
}

.fascinate {
  font-size: 18px;
  line-height: 25px;
}

.item2 {
  border: solid 0.5px black;
  background-color: lightgray;
  border-radius: 40%;
  padding: 5px;
}
